<!-- <h3>{{ myname.name | uppercase}}</h3> -->

<div class="container">
    <div class="row pt-5">
        <div class="col-4">
            <h2>Student Portal</h2>
        </div>
        <div class="col">
            <p class="">Lorem elit. Magnam dolore recusandae earum sint suscipit, optio fuga, nam nihil exercitationem quisquam architecto ex expedita quasi, eaque labore enim cum! Assumenda, optio.</p>
            <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ipsum corporis? Dolore nesciunt ducimus tempore delectus pariatur aut totam incidunt!</p>
        </div>
        <div class="col-12 row mt-5">
            <div class="col-3">
                <img src="../image 1.jpg" alt="" style="width: 250px; height: 150px;">
                <h2 class="m-3">Ranger Portal</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque, repellendus animi quam minus eius repellat repudiandae accusamus consequatur iusto! Voluptatem, quisquam. Asperiores beatae natus ab officia voluptatibus itaque doloribus!
            </div>
            <div class="col-3">
                <img src="../image 2.jpg" alt="" style="width: 250px; height: 150px;">
                <h2 class="m-3">WebAdvisor</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sunt asperiores voluptatum, qui facere illo, corporis reiciendis est perspiciatis omnis, hic repellat quas. Doloribus ipsum asperiores dolor accusantium et dolorem!
            </div>
            <div class="col-3">
                <img src="../image 1.jpg" alt="" style="width: 250px; height: 150px;">
                <h2 class="m-3">Library</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum porro tenetur rerum, necessitatibus doloremque ratione inventore, dolorem numquam praesentium temporibus repellendus dignissimos minima ipsum rem modi suscipit sequi animi tempore.
            </div>
            <div class="col-3">
                <img src="../image 2.jpg" alt="" style="width: 250px; height: 150px;">
                <h2 class="m-3">WorldClass</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos architecto distinctio voluptates beatae deserunt ex iusto quaerat delectus, temporibus laborum impedit aperiam officia unde inventore iure labore dolore praesentium necessitatibus.
            </div>
        </div>
    </div>
</div>