
<div class="container">
    <div class="row pt-5">
        <div class="col-4">
            <h2>Student Portal</h2>
        </div>
        <div class="col">
            <p class="">Lorem elit. Magnam dolore recusandae earum sint suscipit, optio fuga, nam nihil exercitationem quisquam architecto ex expedita quasi, eaque labore enim cum! Assumenda, optio.</p>
            <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ipsum corporis? Dolore nesciunt ducimus tempore delectus pariatur aut totam incidunt!</p>
        </div>
        <div class="col-12 row mt-5">
            <div class="col-3">
                <img src="../../assets/images/1.jpg" alt="" style="width: 250px; height: 150px;">
                <h2 class="m-3">Ranger Portal</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos architecto distinctio voluptates beatae deserunt ex iusto quaerat delectus, temporibus laborum impedit aperiam officia unde inventore iure labore dolore praesentium necessitatibus.
                </p>
            </div>
            <div class="col-3">
                <img src="../../assets/images/2.jpg" alt="" style="width: 250px; height: 150px;">
                <h2 class="m-3">WebAdvisor</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos architecto distinctio voluptates beatae deserunt ex iusto quaerat delectus, temporibus laborum impedit aperiam officia unde inventore iure labore dolore praesentium necessitatibus.
                </p>
            </div>
            <div class="col-3">
                <img src="../../assets/images/3.jpg" alt="" style="width: 250px; height: 150px;">
                <h2 class="m-3">Library</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos architecto distinctio voluptates beatae deserunt ex iusto quaerat delectus, temporibus laborum impedit aperiam officia unde inventore iure labore dolore praesentium necessitatibus.
                </p>
            </div>
            <div class="col-3">
                <img src="../../assets/images/4.jpg" alt="" style="width: 250px; height: 150px;">
                <h2 class="m-3">WorldClass</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos architecto distinctio voluptates beatae deserunt ex iusto quaerat delectus, temporibus laborum impedit aperiam officia unde inventore iure labore dolore praesentium necessitatibus.
                </p>
            </div>
        </div>
    </div>
</div>